CLIENT_URL=http://localhost:49432
MODEL_URL=http://model:49543

DB_HOST=postgres
DB_PORT=5432
DB_NAME=local_db
DB_USER=local_user
DB_PASSWORD=local_pass

JWT_SECRET=super_secret
MODEL_SECRET=super_secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass

S3_SIGNED_URL=http://localhost:49327
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minio_access
S3_SECRET_KEY=minio_secret

RUN_ENV=staging
