API_PORT=49321

DB_HOST=localhost
DB_PORT=49322
DB_NAME=local_db
DB_USER=local_user
DB_PASSWORD=local_pass

TEST_DB_HOST=localhost
TEST_DB_PORT=49323
TEST_DB_NAME=test_db
TEST_DB_USER=test_user
TEST_DB_PASSWORD=test_pass

_PGADMIN_PORT=49324
_PGADMIN_EMAIL=admin@local.com
_PGADMIN_PASSWORD=supersecret

JWT_SECRET=super_secret
JWT_EXP_IN_MINUTES=60
